@import "../../../variables.scss";

.navbar {
  background-color: $beige;
}

.navbar-brand {
  // font-family: "Dhurjati", sans-serif;
  font-size: 35px;
  font-family: "Kenia", cursive;
  color: $vampireBlack;
}
